
<div class= "jumbotron center">
<p>A project app to learn Ruby on Rails and various front-end gems.</p>
<p>
	<div class="center-justified-header">Feel free to:</div>
	<div class="center-justified">
		<li>Visit this site on mobile devices</li>
		<li>Resize the window and watch the magic</li>
		<li>Sign up and add your favorite photos!</li>
	</div>
</p>
</div>